// === EXTERNAL === //

@use '../../assets/variables';

// === FORM === //

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: variables.$spacing-20;
}

// === LABEL === //

@mixin labelBase() {
    color: var(--color-light-neutral-10);
}

@mixin labelExtension($font-size, $font-weight, $line-height) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
}

.form__label--default {
    @include labelBase();

    @include labelExtension(
        variables.$font-size-large,
        variables.$font-weight-700,
        variables.$line-height-large
    );
}

.form__label--radio {
    @include labelBase();

    @include labelExtension(
        variables.$font-size-base,
        variables.$font-weight-400,
        variables.$line-height-base
    );
}

// === INPUT === //

.form__input {
    transition: variables.$transition-quick;
    padding-inline: variables.$spacing-16;
    padding-block: variables.$spacing-8;
    border: none;
    border-radius: variables.$spacing-4;
    outline: 1px solid var(--color-light-accent-30-transparent);

    &:hover {
        outline: 1px solid var(--color-light-neutral-30);
    }

    &:focus,
    &:active {
        outline: 1px solid var(--color-light-accent-30);
    }
}
