// === EXTERNAL === //

@use '../assets/variables';
@use '../assets/reset';

// === MAIN === //

@mixin mainBase() {
    min-height: 90dvh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: variables.$spacing-16;
}

.container__main--default {
    @include mainBase();

    width: 100%;
}

.container__main--fluid {
    @include mainBase();

    width: min(100%, 525px);
    min-width: 272px;
    margin-inline: auto;

    justify-content: center;

    padding-inline: variables.$spacing-24;
    padding-block: variables.$spacing-16;

    @media (min-width: 1024px) {
        width: min(100%, 1200px);
        padding-inline: variables.$spacing-32;
    }
}
